#pbnetVideo2 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 99999999;
    margin: 0px;
    padding: 0px;
    text-align: center;
    border: 0px;
    float: none!important;
}
#pbnetVideo {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -99999;
}
#flashbackSP {
    width: 1920px!important;
    height: 1000px!important;
    position: fixed;
    left: 50%;
    margin-left: -960px;
    max-width: 1920px!important;
}
#pbnetPix {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    border: 0px;
    cursor: pointer;
}
#pbnetCharV {
    height: 150px;
    z-index: 999999999;
    text-align: center;
    position: relative;
    margin: 0 auto;
    float: none!important;
}
#pbnetLogo {
    width: 100%;
    height: 150px;
    border: 0px;
    position: absolute;
    top: 0;
    left: 0;
}
.pContButOp {
    color: lightgrey;
    size: 14px;
    height: 96px;
    text-align: center;
    float: center;
    padding-top: 54px;
    margin-top: 0px;
}
.pbnetImgCont {
    width: 290px;
    height: 42px;
    float: none;
}
#pbnetChar {
    width: 90px;
    height: 91px;
    z-index: 999999999;
    display: none;
    background: url('//s1.richmediastudio.com/assets/img/sprite_2.png') 0px 0px no-repeat;
    border: 0px;
    float: none!important;
}
#pbnetTrama {
    background: url('//s1.richmediastudio.com/assets/img/trama.png') repeat;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -99998;
}
body > * {
    cursor: default;
}
#trackFull,
#trakads {
    width: 0;
    height: 0;
    border: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -9999999999999
}
#pbnetMando {
    position: fixed;
    left: 10px;
    width: 35px;
    height: 134px;
    z-index: 99999999999999999999999;
    text-align: center;
    padding-top: 2px;
    padding-left: 4px;
}
#pbnetPause,
#pbnetMute,
#pbnetFullscreen,
#pbnetOff,
#pbnetUnMute,
#pbnetPlay {
    width: 35px;
    height: 35px;
    margin-top: 10px;
}
#pbnetUnMute,
#pbnetPlay {
    display: none;
}
#pbnetImgPause,
#pbnetImgMute,
#pbnetImgFullscreen,
#pbnetImgOff,
#pbnetImgUnMute,
#pbnetImgPlay {
    width: 35px;
    height: 35px;
    cursor: pointer;
    background: url('//s1.richmediastudio.com/assets/img/sprite_2.png');
}
#pbnetImgPause {
    background-position: -160px -77px;
}
#pbnetImgPlay {
    background-position: -125px -77px;
}
#pbnetImgMute {
    background-position: -195px -77px;
}
#pbnetImgUnMute {
    background-position: -230px -77px;
}
#pbnetImgFullscreen {
    background-position: -265px -77px;
}
#pbnetImgOff {
    background-position: -90px -77px;
}
#pbnetImgPause:hover {
    background-position: -160px -42px;
}
#pbnetImgPlay:hover {
    background-position: -125px -42px;
}
#pbnetImgMute:hover {
    background-position: -195px -42px;
}
#pbnetImgUnMute:hover {
    background-position: -230px -42px;
}
#pbnetImgFullscreen:hover {
    background-position: -265px -42px;
}
#pbnetImgOff:hover {
    background-position: -90px -42px;
}
#pbnetLayPause,
#pbnetLayMute,
#pbnetLayFull,
#pbnetLayOff {
    position: fixed;
    left: 55px;
    width: 100px;
    height: 35px;
    padding-top: 9px;
    display: none;
}
#pbnetLayPause .pbnetTextLay,
#pbnetLayMute .pbnetTextLay,
#pbnetLayFull .pbnetTextLay,
#pbnetLayOff .pbnetTextLay {
    font-family: Arial;
    font-size: 11px;
    color: white;
    margin-top: 5px;
    width: 100px;
    display: inline;
    padding: 10px 5px;
    background: url('//s1.richmediastudio.com/assets/img/backLayer.png');
    background: rgba(56, 56, 56, 0.7);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
HTML {
    background: transparent;
    cursor: pointer
}
#pbnetImgCont {
    background: url('//s1.richmediastudio.com/assets/img/sprite_2.png');
    background-position: -90px 0px;
    width: 290px;
    height: 42px;
    display: inline!important;
    float: none;
}
.pbnetImgLay {
    background: url('//s1.richmediastudio.com/assets/img/sprite_2.png');
    background-position: -300px -42px;
    width: 4px;
    height: 10px;
    display: inline;
}
#pnetClickHigh {
    z-index: 999999999;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent!important
}
#container_pbnetR_media {
    position: fixed!important
}
body.skin .canvas-wrapper {
    cursor: pointer;
}
body.skin .global,
body.skin #skinbanner {
    cursor: default;
}

#rmsHtmlMobile {
	top: 0;
	left: 50%;
	height: 120px;
	position: fixed;
	width: 1920px !important;
	max-width: 1920px !important;
	margin-left: -768px;
}