body > *{cursor: default;}
body{cursor:pointer;}
HTML{background: transparent;}
body{background-position:center 0px !important;background-attachment:fixed;overflow-x:hidden;/*padding:150px 0 0 0;*/}
body.skin .canvas-wrapper{cursor:pointer;}
body.skin .global, body.skin #skinbanner{cursor:default;}

/* Media Querys */

@media (orientation: portrait) {
    #pnetSkinPhone {
        width: 100%;
        height: 120px;
        top:inherit;
        position: fixed !important;
        margin: -120px 0 0 0;
        z-index: 99999;
        background-position-y: 0px;
        background-repeat: no-repeat;
    }
    #pnetSkinTablet {
        width: 100%;
        height:  200px;
        top:inherit;
        position: fixed !important;
        margin: -200px 0 0 0;
        z-index: 99999;
        background-position-y: 0px;
        background-repeat: no-repeat;
    }
    #pnetSkinPhoneCanvas,
    .rms-engagement-redirect {
        width: 210px;
        height: 120px;
    }
    #pnetSkinTabletCanvas {
        /*width: 267px;
        height: 150px;*/
        width: 353px;
        height: 200px;
    }
    #pnetSkinPhoneImage {
        width: 210px;
        height: 120px;
        background-repeat: no-repeat;
    }
    #pnetSkinTabletImage {
        width: 353px;
        height: 200px;
        background-repeat: no-repeat;
    }
}

@media (orientation: landscape) {
    #pnetSkinPhone {
        width: 100%;
        height: 90px;
        top:inherit;
        position: fixed !important;
        margin: -90px 0 0 0;
        z-index: 99999;
        background-position-y: -15px;
        background-repeat: no-repeat;
    }
    #pnetSkinTablet {
        width: 100%;
        height:  150px;
        top:inherit;
        position: fixed !important;
        margin: -150px 0 0 0;
        z-index: 99999;
        background-position-y: -25px;
    }
    #pnetSkinPhoneCanvas,
    .rms-engagement-redirect {
        width: 160px;
        height: 90px;
    }
    #pnetSkinTabletCanvas {
        width: 267px;
        height: 150px;
    }
    #pnetSkinPhoneImage {
        width: 160px;
        height: 90px;
        background-position-y: -15px;
        background-position-x: -27px;
        background-repeat: no-repeat;
    }
    #pnetSkinTabletImage {
        width: 265px;
        height: 150px;
        background-position-y: -25px;
        background-position-x: -45px;
        background-repeat: no-repeat;
    }
}